body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #464646;
}

h2{

letter-spacing: 0.05em;


}
.container {
    max-width: $max-width;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h5{
    margin: 10px 1px;
}


.tableau-departs {

    vertical-align: middle;
    border-color: inherit;
    padding: 20px;

    .td-titre{
       padding: 2px 8px;
        font-size: 1.2rem;
        color: #c8bf00;
        background-color: transparent;
        line-height: 1.4;


    }

    td{

        padding: 2px 8px;
        color: $dark-gray;
        line-height: 1.4;
    }
}

.depart{

    margin: 40px auto;
    display: flex;
    flex-direction: column;

}


.difficulte{

    text-align: center;
}
    .fa-send-o:before, .fa-paper-plane-o:before{

        color: #c8bf00;

    }

    .fa-send-o:before, .fa-paper-plane:before{

        color: #c8bf00;

    }

.duree{

    color: #c8bf00;
}