.btn-right{
    margin-left: auto;
}
.wh,
.bl,
.gr {

    text-transform: uppercase;
    font-size: .75rem;
    padding: 4px 4px;
    border-radius: 3px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.112);
}

.wh{

color: #ffffff;
background-color: $green;
cursor: pointer;
}