@font-face {
    font-family: 'caviar';
    src: url('../fonts/caviardreams-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar-bold';
    src: url('../fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'bunch';
    src: url('../fonts/bunch_blossoms_personal_use-webfont.woff2') format('woff2'),
         url('../fonts/bunch_blossoms_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}